/*
  Site Name: Hai Nan Chinese Restaurants
  Author: Morgan Segura
  Stylesheet: Main
*/

@import "partials/_reset.scss";
@import "partials/_variables.scss";
@import "partials/_typography.scss";
@import "partials/rem.scss";
@import "partials/_functions.scss";
@import "partials/_mixins.scss";
@import "partials/_flex.scss";
@import "modules/_buttons.scss";


/* Defaults */

*, *:before, *:after {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

html {
	@include box-sizing(inherit);
}

body {
    position: relative;
    font: normal rem(18px) $sans-serif;
    color: $black;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    &:before,
    &:after {
        margin: 0;
        padding: 0;
    }
}

ul,
nav {
    list-style: none;
}

a {
    display: inline-block;    
    color: $red;
    font-weight: 700;
    text-decoration: none;
    @include transition(all .3s ease-in-out);
    &:hover {
        color: darken($red, 10%);
    }
}

/* Typography */

h1 {
    font: 700 rem(80px) $sans-serif;
}
h2 {
    font: 700 rem(50px) $cursive;
}
h3 {
    font: 700 rem(35px) $sans-serif;
}
h4 {
    font: 700 rem(60px) $cursive;
    text-align: center;
}
h5 {
    font: 400 rem(20px) $serif;
    text-align: center;
    padding: rem(18px) 0 rem(40px);
}
p {
    font: 400 rem(18px) $sans-serif;
}
.line {
    height: rem(1px);
    background-color: $light-gray;
    margin: rem(20px 0);
    @include box-shadow(0 0 10px black(.1));
}
strong {
    font-weight: 600;
    color: darken($red, 10%);
}
hr {
    background-color: $red;
    border: none;
    width: 40%;
    height: rem(1px);
    margin: rem(20px auto);
}

/* Reusable Blocks */

section {
    z-index: 0;
}


.container {
    width: 100%;
    margin: 0 auto;
    max-width: rem(1165px);
    padding: rem(90px 0);    
}
.flexible {
    @include flexbox();
    align-items: center;
    justify-content: space-around;
}
.sans {
    font-family: $sans-serif;
}
.serif {
    font-family: $serif;
}

.image-grid {
    // 293x305
    background-color: $red;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    @include opacity(1);
    animation: 1s fadein 0.5s forwards;
    @include transition(all .3s ease-in-out);

    .grid-hover {
        position: absolute;
        display: inline;
        background-color: black(.7); 
        z-index: 2;
        max-width: rem(293px);
        width: 82%;
        max-height: rem(305px);
        height: 74%;
        top: 0;
        left: 0;
        padding: 10%; 
        margin: 14% 8%;
        text-align: center;
        color: $white;
        @include opacity(0);
        @include transition(all .3s ease-in-out);
        p:first-child() {
            margin-top: 8%;
        }
        .price {
            font-size: rem(30px);
            margin: rem(5px auto);
        }
        .btn-small {
            margin: 0 auto;
        }
    }
 
    .grid-image {  
        position: relative;
        max-width: rem(293px);
        max-height: rem(305px); 
        overflow: hidden; 
        img {
            width: 100%;
            height: 100%;
            display: block;
            background-size: cover;
        }
    }

    &:hover {
        .grid-hover {
            @include opacity(1);
            @include transition(all .3s ease-in-out);
            padding: 10%;
        }

    }    
}

.background-image {        
    content: "";
    position: absolute;
    background-position: 0 0;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background-size: cover;
    @include opacity(.5);
    z-index: -1;
    background-color: $black; 
    @include transform(translate(-50%, 0));
    animation: 1s slidefade 1s forwards;
    transform: scale(1);
}

.info-block {
    background-color: $white;
    padding: rem(10px 0);
    color: black(.4);
    font-weight: bold;
    
    .social i:first-child() {
        padding-left: rem(10px);
    }
}
.f-center {
    text-align: center;
}

/* Header Styles */

header {
    width: 100%;
    position: fixed;
    left: 50%;
    z-index: 1;
    @include transform(translate(-50%, 0));
    animation: 1s fadein 0.5s forwards;
    @include opacity(0);

    .logo {
        margin-top: rem(-20px);
        color: base(1);
        text-align: center;
        span {
            font: 700 rem(20px) $sans-serif;  
            display: block;      
            text-transform: uppercase;
        }
        img {
            position: relative;
            top: rem(5px);
            width: rem(31px);
        }
    }
    nav {
        background-color: black(.7);
        a {
            padding: rem(10px 0);
            color: white(.8);
            text-decoration: none;
            @include transition(all .3s ease-in-out);
            &:hover {
                color: $white;
            } 
        }    
    }
}

/* Hero Styles */

.hero {
    position: relative;
    text-align: left;
    min-height: 100vh;
    color: $black;
    animation: 1s slidefade 1s forwards;
    padding-top: rem(150px);
    overflow: hidden;
    .aside {
      
    }

    h1 {
        color: $red;
        text-align: center;
        text-shadow: rem(2px 2px 2px black(.8));
        padding-top: 20%;
        padding-bottom: 0;
        //border-bottom: rem(2px solid $red);
    }
    h3.slogan {
        color: white(1);        
        padding: rem(8px 15px);
        text-shadow: rem(2px 2px 2px black(.8));
        background-color: black(.5);
    }
    h3.second {
        color: $white;
        display: none;        
        text-transform: uppercase;
        padding: rem(8px 15px);
        position: relative;
        top: rem(-12px);
        text-shadow: rem(2px 2px 2px black(.8));
        background-color: black(.5);
    }
    .btn-default {
        margin: 10% auto;
        width: auto;
    }
    
}
/* Menu Section */
.full-menu {
    position: relative;
    min-height: 100vh;
    color: $black;
    animation: 1s slidefade 1s forwards;
    padding-top: rem(150px);
    @include opacity(.3);
    overflow: hidden;

    .container {

    }
    h4 {
        margin-bottom: rem(5px);
        color: $red;
    }
    .menu-nav {
        li p {
            cursor:pointer;
            font-size: rem(15px);
            font-weight: 700;
            color: $red;
            background-color: black(.5);
            margin-bottom: rem(5px);
        }
    }
    .items p,
    .bordered p {
        font-family: $serif;
        line-height: 1.7;
    }
    .dinner-entrees,
    .beverages-desserts,
    .family-dinners,
    .vegetarian,
    .individual-items {
        
        //align-items: flex-start;
        //align-content: flex-start;
        justify-content: space-between;
    }
    .side-note {
        padding: rem(0 0 10px);
        font-size: rem(15px);
        color: $meta-gray;
        font-family: $serif;
        font-style: italic;
    }
    .items {
        @include flexbox();
        justify-content: space-between;
        &.full > li {
            margin: 0 auto;
            width: 70%;
        }
        &.pricing {
            margin-top: rem(15px);
            p {
                @include flexbox();
                align-items: center;
                justify-content: space-between;

                span:first-child() {
                    // /font-size: rem(14px);
                    margin-right: rem(30px);
                }
            }                 
        }  
    }
    .intro {
        text-align: center;
        margin-bottom: rem(30px);
    }
    .border {
        border-image: url(../img/border.png) 25 25 round;
    }
    .white-wrap {
        background-color: $white;
        margin: rem(30px) auto;
        display: block;
        width: 80%;
        padding: 5%;
    }
    .spicy {
        width: rem(20px);
        height: rem(20px);
        display: inline-block;
        background: transparent url(../img/pepper.png) 0 0 no-repeat;
        background-size: rem(20px 20px);
        background-position: 0 0;
        position: relative;
        top: rem(5px);
        /*
        left: rem(-20px);
        margin-right: rem(-20px)
        */
    }
}

/* Footer Section */

footer {
    background-color: $charcoal;
    color: #fff;
    padding: 0;
    margin: 0;
    
    h4 {
        display: block;
        width: 100%;
        background-color: $red;
        padding: rem(30px 0);
        font-size: rem(30px);
        text-align: center;
    }    
    .footer-content {

        padding: rem(50px 0);
        text-align: center;
        div {
            //width: rem(400px);
        }
        h5 {
            font: 700 rem(40px) $cursive;
            padding: 0;
            line-height: 1.4;
            margin-bottom: rem(20px);
            border-bottom: rem(2px solid $red);
        }
        .days {
            font-family: $serif;
            font-weight: 700;
            padding-bottom: rem(5px);
            &.extra {
                padding-bottom: rem(20px);
            }
        } 
        .time {
            font-size: rem(16px);
            line-height: 1.7;
        }
        .working-hours {
            .time {
                padding-bottom: rem(20px);
            }
        }
    }          
}


.anim {
    @include transform(translateY(-50%) translateX(-50%));
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
  
    &:before {
      position: relative;
      content: '';
      display: block;
      margin-top: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
    }
  }
  
  .clickable .toggle:checked + .anim {
    @include animation('anim-in 0.75s');
  }
  
  .clickable .toggle:checked + .anim:after {
    @include animation('anim-in-pseudo 0.75s');
  }
  
  .clickable .toggle:not(:checked) + .anim {
    @include animation('anim-out 0.75s');
  }
  
  .clickable .toggle:not(:checked) + .anim:after {
    @include animation('anim-out-pseudo 0.75s');
  }
  
  .hoverable:hover > .anim {
    @include animation('anim-out 0.75s');
  }
  .hoverable:hover > .anim:after {
    @include animation('anim-out-pseudo 0.75s');
  }
  
  @include keyframes(anim-in) {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  @include keyframes(anim-in-pseudo) {
    0% { background: rgba(0, 0, 0, 0.25); }
    100% { background: transparent; }
  }
  
  @include keyframes(anim-out) {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  @include keyframes(anim-out-pseudo) {
    0% { background: rgba(0, 0, 0, 0.25); }
    100% { background: transparent; }
  }
  
  @keyframes fadein {
      100% {
          @include opacity(1);
      }
  }   
  @keyframes slidefade {
      100% {
          opacity: 1;
          margin-top: 0;
      }
  }


@import "partials/_media-queries.scss";