/* Flex Grid */

.grid {
@include flexbox();
flex-wrap: wrap;
list-style: none;
margin: 0;
padding: 0;
}

.grid-cell {
@include flex(1);
}

.grid-flex-cells > .grid-cell {
@include flexbox();
}

.grid-top {
@include align-items(flex-start);
}

.grid-bottom {
@include align-items(flex-end);
}

.grid-center {
@include align-items(center);
}

.grid-justify-center {
@include justify-content(center);
}

.grid-cell-top {
@include align-self(flex-start);
}

.grid-cell-bottom {
@include align-self(flex-end);
}

.grid-cell--center {
@include align-self(center);
}

.grid-cell--autosize {
@include flex(none);
}

.grid-fit > .grid-cell {
@include flex(1);
}

.grid-full > .grid-cell {
@include flex(0 0 100%);
}

.grid-half > .grid-cell {
@include flex(0 0 50%);
}

.grid-third > .grid-cell {
@include flex(0 0 33.3333%);
}

.grid-quarter > .grid-cell {
@include flex(0 0 25%);
}

.grid-gutters {
margin: rem(-16px 0 16px -16px);
}
.grid-gutters > .grid-cell {
padding: rem(16px 0 0 16px);
}

.grid-gutters-lg {
margin: rem(-24px 0 24px -24px);
}
.grid-gutters-lg > .grid-cell {
padding: rem(24px 0 0 24px);
}

.grid-gutters-xl {
margin: rem(-32px 0 32px -32px);
}
.grid-gutters-xl > .grid-cell {
padding: rem(32px 0 0 32px);
}

@media (--break-sm) {
    .small-grid-fit > .grid-cell {
        @include flex(1);
    }
    .small-grid-full > .grid-cell {
        @include flex(0 0 100%);
    }
    .small-grid-half > .grid-cell {
        @include flex(0 0 50%);
    }
    .small-grid-third > .grid-cell {
        @include flex(0 0 33.3333%);
    }
    .small-grid-quarter > .grid-cell {
        @include flex(0 0 25%);
    }      
    .small-grid-gutters {
        margin: rem(-16px 0 16px -16px);
    }
    .small-grid-gutters > .grid-cell {
        padding: rem(16px 0 0 16px);
    }
    .small-grid-gutters-lg {
        margin: rem(-24px 0 24px -24px);
    }
    .small-grid-gutters-lg > .grid-cell {
        padding: rem(24px 0 0 24px);
    }
    .small-grid-gutters-xl {
        margin: rem(-32px 0 32px -32px);
    }
    .small-grid-gutters-xl > .grid-cell {
        padding: rem(32px 0 0 32px);
    }
}
/*
@media (--break-md) {
    .med-grid-fit > .grid-cell {
        @include flex(1);
    }
    .med-grid-full > .grid-cell {
        @include flex(0 0 100%);
    }
    .med-grid-half > .grid-cell {
        @include flex(0 0 50%);
    }
    .med-grid-third > .grid-cell {
        @include flex(0 0 33.3333%);
    }
    .med-grid-quarter > .grid-cell {
        @include flex(0 0 25%);
    }    
    .med-grid-gutters {
        margin: rem(-16px 0 16px -16px);
    }
    .med-grid-gutters > .grid-cell {
        padding: rem(16px 0 0 16px);
    }
    .med-grid-gutters-lg {
        margin: rem(-24px 0 24px -24px);
    }
    .med-grid-gutters-lg > .grid-cell {
        padding: rem(24px 0 0 24px);
    }
    .med-grid-gutters-xl {
        margin: rem(-32px 0 32px -32px);
    }
    .med-grid-gutters-xl > .grid-cell {
        padding: rem(32px 0 0 32px);
    }
}

@media (--break-lg) {
    .large-grid-fit > .grid-cell {
        @include flex(1);
    }
    .large-grid-full > .grid-cell {
        @include flex(0 0 100%);
    }
    .large-grid-half > .grid-cell {
        @include flex(0 0 50%);
    }
    .large-grid-third > .grid-cell {
        @include flex(0 0 33.3333%);
    }
    .large-grid-quarter > .grid-cell {
        @include flex(0 0 25%);
    }    
    .large-grid-gutters {
        margin: rem(-16px 0 16px -16px);
    }
    .large-grid-gutters > .grid-cell {
        padding: rem(16px 0 0 16px);
    }
    .large-grid-gutters-lg {
        margin: -24px 0 24px -24px;
    }
    .large-grid-gutters-lg > .grid-cell {
        padding: rem(24px 0 0 24px);
    }
    .large-grid-gutters-xl {
        margin: rem(-32px 0 32px -32px);
    }
    .large-grid-gutters-xl > .grid-cell {
        padding: rem(32px 0 0 32px);
    }
}
*/