/*
  Site Name: DNA Custom Painting
  Author: Morgan Segura
  Stylesheet: Functions
*/

/* COLOR FUNCTIONS */

// black
@function black($opacity) {
    @return rgba(0,0,0,$opacity);
}

// white
@function white($opacity) {
    @return rgba(255,255,255,$opacity);
}

// red
@function base($opacity) {
    @return rgba(255,0,0,$opacity);
}

/* Calculate Rem Size */

@function calculateRem($size){
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}